{% extends "base.html" %}
{% block content %}
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 justify-content-center d-flex">
                    <form>
                        <div class="form-group">
                            <h4>Intrebarea 1?</h4>
                            <input type="text" value="Intrebarea 1?" hidden />
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl1a">
                                <label class="custom-control-label" for="customControl1a">Raspuns 1</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl1b">
                                <label class="custom-control-label" for="customControl1b">Raspuns 2</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl1c">
                                <label class="custom-control-label" for="customControl1c">Raspuns 3</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl1d">
                                <label class="custom-control-label" for="customControl1d">Raspuns 4</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <h4>Intrebarea 2?</h4>
                            <input type="text" value="Intrebarea 2?" hidden />
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl2a">
                                <label class="custom-control-label" for="customControl2a">Raspuns 1</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl2b">
                                <label class="custom-control-label" for="customControl2b">Raspuns 2</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl2c">
                                <label class="custom-control-label" for="customControl2c">Raspuns 3</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl2d">
                                <label class="custom-control-label" for="customControl2d">Raspuns 4</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <h4>Intrebarea 3?</h4>
                            <input type="text" value="Intrebarea 3?" hidden />
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl3a">
                                <label class="custom-control-label" for="customControl3a">Raspuns 1</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl3b">
                                <label class="custom-control-label" for="customControl3b">Raspuns 2</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl3c">
                                <label class="custom-control-label" for="customControl3c">Raspuns 3</label>
                            </div>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControl3d">
                                <label class="custom-control-label" for="customControl3d">Raspuns 4</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Trimite formular</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="../ProjectForms/static/assets/js/jquery-3.2.1.min.js"></script>
<script src="../ProjectForms/static/assets/js/popper.min.js"></script>
<script src="../ProjectForms/static/assets/js/bootstrap.min.js"></script>

</body>
</html>{% endblock %}