<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Apply for job by Colorlib</title>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="../ProjectForms/static/assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Intrebari si raspunsuri</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-row">
                            <h2>Scrie intrebarea si pune bifa in dreptul raspunsului care este corect</h2>
                            <textarea class="textarea--style-6" name="intrebare" placeholder="Scrie o intrebare pe care sa o adaugi la lista principala"></textarea>

                        </div>
                        <div class="form-row">
                            <input class="name" type="radio" name="r1" value="rasp1">
                            <div class="name">Raspuns 1</div>


                                <textarea class="textarea--style-6" name="raspuns1" placeholder="Primul raspuns"></textarea>


                        </div>
                        <div class="form-row">
                                                        <input class="name" type="radio" name="r1" value="rasp1">

                            <div class="name">Raspuns 2</div>
                            <textarea class="textarea--style-6" name="raspun2" placeholder="Al 2-lea raspuns"></textarea>

                        </div>
                        <div class="form-row">
                                                        <input class="name" type="radio" name="r1" value="rasp1">

                            <div class="name">Raspuns 3</div>
                            <textarea class="textarea--style-6" name="raspuns3" placeholder="Al 3-lea raspuns"></textarea>

                        </div>
                        <div class="form-row">
                                                        <input class="name" type="radio" name="r1" value="rasp1">

                            <div class="name">Raspuns 4</div>
                            <textarea class="textarea--style-6" name="raspuns4" placeholder="Al 4-lea raspuns"></textarea>

                        </div>

                    </form>
                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit">Salveaza intrebarea si raspunsurile</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>


    <!-- Main JS-->
    <script src="../ProjectForms/static/assets/js/global.js"></script>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->